.chart{
    height: 500px;
    width: 500px;
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(100,1fr);
    grid-column-gap: 5px;
    border-bottom: black;
    border-style: none none solid solid;
    padding-left: 5px;
    padding-right: 5px;
}

* {box-sizing: border-box;}

html, body {
    margin: 0;
    background-color: #eee;
    display: flex;
    justify-content: center;
}

[class*="bar"]{
    grid-row-start: 1;
    grid-row-end: 101;
    border-radius: 5px 5px 0 0;
    background-color: #ff4136;
}

/*@mixin chartValue($data){
    $totalRows: 101;
    $result: $totalRows - $data;
    grid-row-start: $result;
}

.bar-1{
    @include charValue(20);
}
*/
[class*="bar"]:nth-child(odd) {
    background-color: #ff4136; 
  }

  [class*="bar"]:nth-child(even) {
    background-color: #0074d9;
  }

.bar-1{
    grid-row-start: 50;
}

.bar-2{
    grid-row-start: 30;
}

.bar-3{
    grid-row-start: 90;
}

.bar-4{
    grid-row-start: 10;
}

.bar-5{
    grid-row-start: 15;
}

.bar-6{
    grid-row-start: 36;
}

.bar-7{
    grid-row-start: 10;
}

.bar-8{
    grid-row-start: 86;
}

.bar-9{
    grid-row-start: 74;
}

.bar-10{
    grid-row-start: 61;
}

.bar-11{
    grid-row-start: 28;
}

.bar-12{
    grid-row-start: 95;
}